body{
    margin: 0px;
}
header{
    justify-content: space-between;
}
#tab{
    background:rgb(0, 38, 77);
}
#tab, .nav-right {
    display: flex;
    justify-content: space-between;
}
.nav-right{
    color: white;
}
ul{
    list-style-type: none;
}
.one{
    margin: 0 10px 0 10px;
    text-transform: uppercase;
    min-height: 10px;
    display: flex;
    align-items: center;
    cursor: pointer; 
    float: right;  
}
.post{
    height: 24%;
}
.post2{
    display: flex;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.head{
    display: flex;
    height: 100%;
    height: 600px;
    padding: 10px 0 10px 0;
}
.banner img,.banner{
    height: 100%;
}
.thumbnail{
    height: 100%;
}
img{
    height: 100%;
}
.content{
    padding-left: 30px;
    width: calc(100% - 110px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.four{
    display: flex;
    justify-content: space-between;
    padding: 50px 20px 50px 20px;
}
.pic{
    text-align: center;
    height: 100px;

}
.description,.description1{
    text-align: center;
}
.description1{
    color: gray;

}
.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 50px 100px 50px; 
    background-color: #f4f7fa;
    padding:30px;
}
section {
    margin: 50px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    background-color: #f4f7fa;
}
.trans{
    height: 40px;
    padding: 40px;
}
.wrap-title{
    padding: 40px;
}
.product{
    max-width: 30%;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 10px;

}
.footer{
    display: flex;
    justify-content: space-between;
    background: rgb(64, 64, 64);
    margin-top: 50px;
    color: gray;
    padding: 30px 50px 30px 50px;
}
.footer1{
    max-width: 25%;
}

.footer-list li {
    line-height: 1.8;
  }
.footer-list a{
    color: gray;
}
h3{
    color: white;
}

.picture img{
    width: 300px;
    height: 200px;
    align-items: center;
    width: 100%;
}
.product-title{
    text-align: center;
}
.product p{
    text-align: center;
}
.fab,.fal{
    font-size: 50px;
    padding:15px;
}
